/* ---------- Resume Page Styling ---------- */
.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 18rem);
  margin-bottom: 30px;
}

.resume-title {
  border-bottom: 2px dotted black;
  width: 30%;
  text-align: center;
}

.subtitle {
  margin-top: 40px;
  margin-bottom: 20px;
  border-bottom: 2px dotted black;
  width: 110%;
}

.resumeBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 30%;
  margin: 30px 0 100px 0;
}

#resumeBtn {
  font-size: 1.2rem;
  height: 40px;
  width: 100%;
  background-color: #d6bda9;
  min-width: 100px;
  border: 1px solid #a59080;
}

/* ---------- Proficiencies ---------- */
.prof {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.listgrp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

/* styling for list */
.list {
  text-align: center;
  list-style-type: '\2661';
  list-style-position: outside;
  font-size: 1.5rem;
  margin: 10px;
  padding-left: 10px;
}

/* bullet point size */
.list::marker {
  font-size: .8rem;
}

/* ---------- Hovers ---------- */
#resumeBtn:hover {
  border: 2px solid #684929;
}

/* ---------- Media Queries ---------- */

@media screen and (max-width: 1366px) {
  .subtitle {
    width: 100%;
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .subtitle {
    width: 100%;
    font-size: 1.5rem;
  }

  .list {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 962px) {

  .resume-title,
  .resumeBtn {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .resumeBtn {
    margin-bottom: 30px;
  }


  .prof {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .resumeBtn {
    width: 80%
  }
}

@media screen and (max-width: 400px) {
  .resume-title{
    margin-top: 30px;
    width: 100%;
    font-size: 1.8rem;
  }

  #resumeBtn {
    font-size: 1rem;
  }
}