.resume{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.subtitle{
  margin-top: 40px;
  margin-bottom: 20px;
}

.resumeBtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  margin-top: 15px;
}

#resumeBtn{
  font-size: 1.2rem;
  height: 40px;
  width: 30%;
  background-color: #d6bda9;
  min-width: 100px;
  border: 1px solid #a59080;
}

.prof{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.listgrp{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.list{
  text-align: center;
  list-style-type: '\2661';
  list-style-position: outside;
  font-size: 1.5rem;
  margin: 10px;
  padding-left: 10px;
}

.list::marker{
  font-size: .8rem;
}