/* ---------- Contact Page ---------- */

.contact {
  min-height: calc(100vh - 18rem);
}

.contact,
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-title {
  border-bottom: 2px dotted black;
  width: 30%;
  text-align: center;
  vertical-align: middle;
}

/* ---------- form styling ---------- */
.form {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 525px;
  width: 800px;
  background-color: #eedaca;
  border-radius: 5%;
  box-shadow: 0 0 20px 0 #4c4947;
  margin-bottom: 20px;
}

.label {
  padding-top: 30px;
  font-size: 1.5rem;
}

.input {
  width: 90%;
  margin: 5px 0;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 3px;
  min-width: 100px;
  border-color: #d6bda9;
}

#msg {
  height: 100px;
  margin-bottom: 20px;
  resize: none;
  box-shadow: 1px 1px 0 0 black inset;
}

#submit {
  font-size: 1.2rem;
  height: 30px;
  width: 90%;
  background-color: #d6bda9;
  min-width: 100px;
  border: 1px solid #a59080;
}

.errMsg {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #b20000;
}

.successMsg {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #2dce00;
}

/* ---------- focus styling for contact form ---------- */

.input:focus,
#msg:focus {
  box-shadow: 0 0 3px 3px #91f3b8;
}

/* ---------- Hovers ---------- */

#submit:hover {
  border: 2px solid #684929;
}

/* ---------- Media Queries ---------- */

@media screen and (max-width:962px) {
  .form {
    height: 500px;
    width: 416px;
  }

  .contact-title {
    width: 60%;
  }
}

@media screen and (max-width:400px) {
  .form {
    height: 500px;
    width: 280px;
  }

  .contact-title {
    width: 100%;
  }
}




