.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 18rem);
}

.portfolio-title {
  margin-top: 15px;
  border-bottom: 2px dotted black;
  width: 30%;
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.projectcard {
  height: 400px;
  width: 650px;
  margin: 50px;
  background-size: cover;
  border: 1px solid #a59080;
  box-shadow: 0 0 15px 5px #a59080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.links {
  background-color: #eedacada;
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  color: rgb(0, 0, 0);
  text-shadow: -1px 0 10px #684929;
  width: 100%;
  text-align: center;
}

#github-logo {
  height: 50px;
  width: 50px;
  margin: 10px;
  box-shadow: 0 0 5px 1px #684929;
}

.desc {
  width: 100%;
  display: none;
  text-align: center;
  margin: 0;
  background-color: #eedacada;
}

.projectcard:hover {
  .desc {
    display: block;
  }

  border: 1px solid rgba(127, 255, 212, 0.8);
  box-shadow: 0 0px 20px 10px rgba(127, 255, 212, 0.8),
  inset 0 0 80px 10px rgba(127, 255, 212, 0.8);
}

.title:hover {
  text-shadow: -1px 0 10px magenta;
}

#github-logo:hover {
  box-shadow: 0 0 10px 1px magenta;
}