.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.navEl{
  font-size: 2rem;
  font-weight: 500;
  color: black;
}

.navEl:hover{
  text-shadow: 0 0 5px magenta;
}

/* 800x360 */
@media screen and (max-width: 800px) {
  .navbar{
    width: 100%;
  }
  
  .navEl{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}